html 
    head 
        title= titulo 
    body
        div 
            div Mi nombre es: #{nombre}

            dive La carrera que actualmente curso es #{carrera}

            div Mis hobbies favoritos son: 


    
            each book in datos
                ul
                    li= book.nombre
    
            br
            br

            div Y en un apartado (div) describir la utilidad de las plantillas con Node.js

            div Las plantillas mejoran la legibilidad de nuestro codigo.
            div mejora el mantenimiento y aumenta la productividad de nuestro sitio web.
            div Las plantillas nos permiten la reutilizacion de nuestro codigo esto para no repetir nuestro codigo.
            div facilita la lectura de nuestro codigo.

