<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<script type="text/javascript">
function operaciones(opciones){    
    var opcion = {
        suma:  function sumaNums(n1, n2){
            return( parseInt(n1) + parseInt(n2));
        },
        resta:  function restaNums(n1, n2){
            return( parseInt(n1) - parseInt(n2));
        },
        multiplica:  function multiplicaNums(n1, n2){
            return( parseInt(n1) * parseInt(n2));
        },
        divide:  function divideNums(n1, n2){
            return( parseInt(n1) / parseInt(n2));
        }
    }

    var num1 = document.getElementById("num1").value;
    var num2 = document.getElementById("num2").value;

    if (isNaN(parseFloat(document.getElementById("num1").value))) {
        document.getElementById("resultado").innerHTML = "<span style='color:red;'> Porfavor ingresa el primer digito</span>";
        document.getElementById("num1").innerText="0";
        document.getElementById("num1").focus();
    }
    else if (isNaN(parseFloat(document.getElementById("num2").value))) {
        document.getElementById("resultado").innerHTML = "<span style='color:red;'> Porfavor ingresa el segundo digito</span>";
        document.getElementById("num2").innerText="0";
        document.getElementById("num2").focus();
    }
    else{
        switch (opciones) {
            case "suma":
                var resultado = opcion.suma(num1,num2);
                document.getElementById("resultado").innerHTML="<span style='color:green;'>"+ resultado +"</span>";
                break;
            case "resta":
                var resultado = opcion.resta(num1,num2);
                document.getElementById("resultado").innerHTML="<span style='color:green;'>"+ resultado +"</span>";
                break;
            case "multiplica":
                var resultado = opcion.multiplica(num1,num2);
                document.getElementById("resultado").innerHTML="<span style='color: green;'>"+ resultado +"</span>";
                break;
            case "divide":
                var resultado = opcion.divide(num1,num2);
                document.getElementById("resultado").innerHTML="<span style='color: green;'>"+ resultado +"</span>";
                break;
        
            default:
                document.getElementById("resultado").innerHTML = "<span style='color: red;'>eror</span>";
                break;
        }
    }

}
</script>
<body>
    <form>
        <label>Numero 1: </label> 
        <input type="text" name="numero" id="num1">
        <label>Numero 2:</label> 
        <input type="text" name="numero" id="num2">
        <br>
        <label style="color: green;" id="resultado" for=""></label>
        <br>
        <br>
        <button onclick="operaciones('suma'); return false;">Suma</button>
        <button onclick="operaciones('resta'); return false;">Resta</button>
        <button onclick="operaciones('multiplica'); return false;">Multiplica</button>
        <button onclick="operaciones('divide'); return false;">Divide</button>
    </form>
</body>
</html>